.chat-input {
    width: 1500px;
    height: 20px;
    border: 1px solid black;
}

.chat-input input {
    border: none;
    width: 88%;
    height: 90%;
}

.chat-input button {
    float: right;
    width: 12%;
    height: 100%;
}