<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nameless.io</title>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="client.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body onload="main()">
    <!--<div>
        <div class="news" id="news"></div>
        <div class="control">
            <span style="text-align: center">You are logged in as <%= name %></span>
        </div>
    </div>-->
    <canvas id="myCanvas" width="800" height="600" style="border:1px solid #000000;">
    </canvas>
    <div class="chat" id="chat">
        Welcome <b style="color: rgb(179, 71, 0)"><%= name %></b>! Enjoy your game!<br>
    </div>
    <div class="chat-input">
        <input type="text" id="chat-input">
        <button id="chat-submit" onclick="submitChat()">Submit</button>
    </div>
</body>
</html>