<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ya'll've't to login</title>
</head>
<body>
    <form action="/login" method="POST">
        <b>Login: </b><br>
        <input type="text", name="name"><br>
        <% if (wrong) { %>
            <div style="color:red">Wrong name or password</div><br>
        <% } %>
        <b>Password: </b><br>
        <input type="password" name="password"><br>
        <input type="submit" name="login" value="Login">
        <input type="submit" name="guest" value="Play as guest">
    </form>
</body>
</html>