<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ya'll've't to register</title>
</head>
<body>
    <form action="/register" method="POST">
        <b>Login: </b><br>
        <input type="text", name="name"><br>
        <% if (nametaken) { %>
            <div style="color:red">Name already taken</div><br>
        <% } %>
        <b>Password: </b><br>
        <input type="password" name="password"><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>