<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="POST">
        <b>Login: </b><br>
        <input type="text", name="name"><br>
        <% if (nametaken) { %>
            <div style="color:red">Name already taken</div><br>
        <% } %>
        <% if (emptyName) { %>
            <div style="color:red">Name cannot be blank!</div><br>
        <% } %>
        <b>Password: </b><br>
        <input type="password" name="password"><br>
        <% if (emptyPassword) { %>
            <div style="color:red">Password cannot be blank!</div><br>
        <% } %>
        <b>Color:</b><br>
        
            <% var options= [
                { value : 0, text : 'Black' },
                { value : 1, text : 'Red' },
                { value : 2, text : 'Green' }
            ]
            %>
            
            <% options.forEach( option => { %>
                <input type="radio" name="color" value=<%= option.value %>> <%= option.text%><br>
            <% }) %>
        <input type="submit" value="Register">
    </form>
</body>
</html>